.edit
  = form_with(model: @tweet, local: true) do |f|
    .new__text
      = f.text_area :text, placeholder: "ツイートしてみよう" , rows: "10"
    .new__image  
      = f.text_field :image, placeholder: "画像のURL"
    .new__submit
      = f.submit "編集"