.header{
  color: $mainwhite;
  background-color: $maincolor;
  width: 100vw;
  line-height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;

  &__box{
    display: flex;
    font-size: 22px;


    &--right{
      padding-left: 50px;

    }
  }

  & a{
    color: $mainwhite;
    text-decoration: none;
  }
}

