.index{
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: $mainback;

  &__page{
    width: 64%;
    margin: auto;
    padding: 20px;

    &__box{
      border: 1px solid $mainblack;
      margin-bottom: 30px;
      padding: 12px 30px;


      &--tweet{
        padding-top: 2px;
      }

      & a{
        color: $mainblack;
        text-decoration: none;
      }
    }
  }

  & .pagination{

    & li>a {    
      border: none;
      color: $mainblack; 
      background: $mainback;
    }

    & .active>a { 
      background: $maincolor;
      border-radius: 15px;  
    }
  }
}

.tweetbtn {
  line-height: 32px;
  font-size: 16px;
  width:125px;
  color: $mainwhite;
  background: $maincolor;
  text-align: center;
  border-radius: 100px;
  bottom: 30px;
  right: 40px;
  position: fixed;
  padding: 15px
}
