.user-show{
  padding-top: 20px;
  min-height: 100vh;
  width: 100vw;
  background-color: $mainback;

  &__page{
    height: 100%;
    width: 64%;
    margin: auto;

    &__top{
      display: flex;
      border: 1px solid $mainblack;
      padding: 0px 9px;
      margin-bottom: 24px;


      &--content{
        font-size: 28px;
        padding: 12px 15px;
      }
    }

    &__content{
        font-size: 22px;
        border: 1px solid $mainblack;
        margin-bottom: 24px;
        padding: 10px;

        &--date{
          padding-top: 5px;
          font-size: 12px;
        }    
    }
  }
}